.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border: 1px dashed var(--input-wrapper-border);
    transition: border-color 0.3s ease, background-color 0.6s ease;
}

.dragging {
    background-color: #e6f7ff;
    border: 1px dashed var(--input-value);
}

.container:hover {
    border: 1px dashed var(--input-wrapper-border-hover);
}

.container.error {
    border: 1px dashed var(--label-error-color);
}

.uploadSpan {
    display: flex;
    align-items: center;
    color: var(--placeholder-color, #cccccc);
    cursor: pointer;
    padding: 8px;
    transition: color 0.3s ease;
}

.uploadSpan:hover {
    color: var(--input-value);
}

.fileInfo {
    color: var(--placeholder-color, #cccccc);
    padding: 8px;
    font-size: 0.8rem;
}

.noFileMessage {
    margin-top: 1px;
    font-size: 0.8rem;
    color: var(--placeholder-color, #cccccc);
}

.selectAllContainer {
    margin-bottom: 10px;
    color: var(--placeholder-color, #cccccc);
}

.selectAllCheckbox {
    margin-right: 10px;
}

.selectAllLabel {
    font-size: 0.9rem;
    color: var(--placeholder-color, #cccccc);
}
