.defaultInput {
    position: relative;
    z-index: 1;
    padding: 8px;
    background-color: transparent;
    width: 100%;
    height: 56px;
    border: none;
}

.defaultInput:focus {
    outline: none;
}