.alert-container,
.toast-container {
    position: fixed;
    right: 5px;
    display: flex;
    gap: 5px;
    z-index: 9999;
    animation: fade-in 0.3s ease;
}

.alert-container {
    top: 5px;
    left: 5px;
    flex-direction: column;
}

.toast-container {
    bottom: 5px;
    flex-direction: column-reverse;
}

.alert {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.toast {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    min-width: 350px;
    max-width: 450px;
}

.info {
    background: linear-gradient(to bottom, #d1ecf1, #ffffff);
}

.success {
    background: linear-gradient(to bottom, #d4edda, #ffffff);
}

.warning {
    background: linear-gradient(to bottom, #fff3cd, #ffffff);
}

.error {
    background: linear-gradient(to bottom, #f8d7da, #ffffff);
}

.icon-info,
.icon-success,
.icon-warning,
.icon-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
}

.icon-info {
    background-color: rgba(39, 188, 253);
}

.icon-success {
    background-color: rgba(0, 210, 122);
}

.icon-warning {
    background-color: rgba(245, 128, 62);
}

.icon-error {
    background-color: rgba(230, 55, 87);
}

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40px;
}

.message-container {
    flex: 1;
    padding-left: 20px;
}

.message-heading {
    font-weight: bold;
    font-size: 1rem;
}

.message-heading.heading-info {
    color: rgba(39, 188, 253);
}

.message-heading.heading-success {
    color: rgba(0, 210, 122);
}

.message-heading.heading-warning {
    color: rgba(245, 128, 62);
}

.message-heading.heading-error {
    color: rgba(230, 55, 87);
}

.message-body {
    font-size: 0.9rem;
    color: #404040;
}

.btn-close {
    position: relative;
    margin-left: auto;
    background: none;
    border: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.btn-close:hover {
    opacity: 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.fade-out {
    animation: fade-out 0.3s ease forwards;
}
