.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 56px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

.inputWrapper:not(.inputWrapperError):focus-within,
.inputWrapper.selectBoxOpen {
    border-color: #0078d4;
}

.inputWrapper:not(.inputWrapperError):focus-within .label,
.inputWrapper.selectBoxOpen:not(.inputWrapperError) .label {
    color: #0078d4;
}

.inputWrapper::before {
    content: '';
    position: absolute;
    top: -1px;
    left: var(--label-offset, 10px);
    height: 1px;
    width: var(--label-width, 50px);
    background-color: var(--mask-background);
    z-index: 1;
}

.inputWrapper.inputWrapperError {
    border: 1px solid rgb(184, 0, 0);
}

.label {
    margin-left: var(--label-offset, 10px);
    position: absolute;
    top: -10px;
    padding: 0 4px;
    font-size: 0.8rem;
    color: #808080;
    transition: color 0.3s ease;
    background-color: transparent;
    z-index: 2;
}

.rightIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
}

.rightIcon span {
    font-size: 1.5rem;
    line-height: 1;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.rightIcon:hover span {
    transform: scale(1.2);
}

.label.errorLabel {
    color: rgb(184, 0, 0);
}

.errorMessage {
    color: rgb(184, 0, 0);
    font-size: 0.8rem;
    margin-top: 1px;
}