.selectBox {
    position: relative;
    width: 100%;
    margin: 2px auto;
}

.control {
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-size: 0.9rem;
}

.arrow {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: #808080;
}

.dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 1px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

.actionButton {
    background: none;
    border: none;
    color: #A9A9A9;
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    padding: 0;
}

.actionButton:hover {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}

.searchContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: #aaa;
    pointer-events: none;
}

.clearButton {
    position: absolute;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    outline: none;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.clearButton:hover {
    color: black;
}

.search {
    flex: 1;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 5px 10px 5px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search:focus {
    outline: none;
}

.dropdownHeader {
    font-size: 0.7rem;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    color: #333;
}

.options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover,
.option.selected {
    background-color: #f0f0f0;
}

.noResults {
    padding: 10px;
    text-align: center;
    color: #ccc;
}